{% import '_incl/docMacros' as macro %}

<div class="fsMeasurements">
  <h2 class="cardTitle">{{ 'Kumulierte Messwerte' | t }}</h2>
  {{ macro.singleValue('-351.5','m','L채ngen채nderung') }}
  {{ macro.singleValue('-842','m','Massenbilanz') }}
  {# {{ macro.singleValue('-3.24','%','Volumen채nderung') }}
  {{ macro.singleValue('324','%','Eisdicken') }}
  {{ macro.singleValue('3214','km/h','Geschwindigkeit') }}
  {{ macro.singleValue('10','째','Firntemperaturen') }} #}

  {{ macro.singleValue('1972 - 2018','','Messzeitraum') }}
  {{ macro.singleValue('75',' Jahre','Messdauer') }}
</div>
