{% import '_incl/docMacros' as macro %}

<div class="glacierData">
  <h2 class="currentGlacier">
    Aletschgletscher
    {{ macro.crossLink('/factsheet', 'Zum Aletschgletscher') }}
  </h2>
  {{ macro.singleValue('-10','m','Längenänderung') }}
  {{ macro.singleValue('10','m','Masseänderung') }}
  {{ macro.singleValue('1972 - 2018','','Messzeitraum') }}
  {{ macro.singleValue('75',' Jahre','Messdauer') }}

  <p class="hint">{{ 'Kumulierte Meesswerte' | t }}</p>
  {# <a class="btn " href="#">Zum Aletschgletscher</a> #}
</div>
