{% macro textField(macroParam) %}
  {{ macroParam | nl2br | raw }}
{% endmacro %}

{% macro richText(string) %}
  {{ string | striptags('<p><a><strong><br><ul><li><em>')  | raw }}
{% endmacro %}


{% macro singleValue(valueParam, unitParam, labelParam) %}
  <div class="singleValue">
    <p>{{ valueParam }}{{ unitParam }}</p>
    <small>{{ labelParam | t }}</small>
  </div>
{% endmacro %}

{% macro majorLink(valueParam, labelParam, buttonParam) %}
  <div class="majorLink">
    <p>{{ valueParam }}</p>
    <small>{{ labelParam | t }}</small>
    <a href="{{ buttonParam.url }}" class="btn">{{ buttonParam.title }}</a>
  </div>
{% endmacro %}

{% macro comparisonEntry(nameParam, activeTrue) %}
  <div class="comparisonEntry {% if activeTrue %}active{% endif %}">
    <button type="button" name="highlight" class="glacierName">{{ nameParam }}</button>
    <button type="button" name="remove" class="btn close">
      {{ svg('@webroot/theme/img/close.svg') }}
    </button>
  </div>
{% endmacro %}

{% macro cardChart(nameParam) %}
  <div class="fsChart">
    <h3 class="chartTitle">{{ nameParam }}</h3>
    // Hier erscheint dann der Chart für die {{ nameParam }}
  </div>
{% endmacro %}

{% macro Crosslink(linkParam, titleParam)%}
  <a href="/factsheet" class="titleCrosslink" title="{{ titleParam }}">
    {{ svg('@webroot/theme/img/crosslink.svg') }}
  </a>
{% endmacro %}
